body{
background: linear-gradient(90deg,#00BFFF,#00FF00);



}


.login{
   background-color: white; 
   width:400px;
   display: flex;
   align-items: center;
   
   margin: 0 auto;
flex-direction: column;
padding-top: 50px;
margin-top: 10%;
justify-content: left;
}
.flex{

display: flex;

align-items: center;
gap: 10px;
justify-content: left;
}
.flex-direcao{
   flex-direction: column;
}

.borda{
border: 1px solid plum ;



}
.email,.senha{
border: 1px solid rgb(59, 49, 49);
height: 35px;
padding: 10px;

}
.entre{
height: 35px;


}

.roxo{
background: rgb(235, 168, 235);


}
img{
width: 30px;



}
input{
width: 150%;



}
button{
   width: 150%;
background-color:plum;
border: 1px solid plum;
}



.boxc{

display:flex;
 justify-content: left;
}
.check{

width: 10px;


}

.check-input{

width: auto;

}
.social{
margin-bottom: 20px;


}